\documentclass[11pt]{article}
\usepackage[a4paper,margin=2.5cm]{geometry}
\setlength{\parindent}{0pt}
\begin{document}

\VAR{sender_name}\\
\VAR{sender_address}

\vspace{6mm}
\hfill \VAR{date}

\vspace{6mm}
\VAR{recipient_name}\\
\VAR{recipient_address}

\vspace{8mm}
\textbf{Subject: \VAR{subject}}

\vspace{5mm}
\VAR{salutation},

\vspace{3mm}
\VAR{body}

\vspace{8mm}
\VAR{closing},

\vspace{10mm}
\VAR{sender_name}
\end{document}
